/*max image size as a factor of screen height*/
:root{
    --max-image-size:60vh;
    --multipost-scaling:2; /*how many multiples of the above posts with 3/4 images use*/
}



/*remove unwanted stuff/slim things out*/
.tweet-active:not(.tweet-view)::after,[class="tweet-self-thread-button tweet-thread-right"],#left-cell,#right-cell,#twitter-logo-div,#search,#navbar-line,.tweet-media-cws,.tweet-media>br{
    display:none!important;
}

/*move navbar to the left*/
#navbar{
    height:100%;
    width:60px;
}
#navbar-container{
    flex-direction:column;
    justify-content:space-between;
    height:100%;
    display:flex;
    flex-wrap:wrap;
}
#navbar-links,#navbar-right>div,#navbar-right>button{
    width:50px;
    margin:0 0 0 5px;padding:0;
    height:50px;
    display:flex;
    flex-wrap:wrap;
    font-size:0;
}
#navbar-user{
    width:50px;height:50px;
}
#navbar-user>img{width:100%;height:100%;}
#navbar-right{
    display:flex;
    flex-wrap:wrap;
    height:100px;
    gap:10px;
    bottom:20px;
}
#navbar-links a:before{
    margin:auto;
}
#navbar-user-menu{
    left:70px;
    bottom:-15px;
    font-size:12px;
}

#navbar-tweet-button{
    position:relative;
}
#navbar-tweet-button:after{
    content:'+';
    position:absolute;
    font-size:20px;
    left:0;top:14px;right:0;
    pointer-events:none;
}

/*
make content larger, centered, max of 1000px
*/
#content,#center-cell{
    width:100%;
    margin-top:5px;
}
#center-cell>*{
    width:100%;
    max-width:1000px;
    margin:auto;
    position:relative;
    left:30px;
}

/*
fixes for something which broke in the post pane for reasons unknown
*/
#new-tweet-media-div{
    top:0;right:0;left:-7px;bottom:0!important;
}
#new-tweet-text{
    width:calc(100% - 120px);
}
#new-tweet-focused{
    position:relative;left:-10px;
}


/*
make tweet interactions span over the whole post
*/
.tweet-interact{
    display:inline-grid;
    width:calc(100% - 70px);
    padding-right:70px;
    justify-content:space-between;
    gap:10px;
    position:relative;
     grid-template-columns: 33% 33% 33%; 
}
.tweet-interact-reply,
.tweet-interact-retweet,
.tweet-interact-favorite {
    width:120px;
    margin:unset!important;
    padding:5px 0px;
    max-width:120px;
    box-sizing:border-box;
    text-align:center;
    border:1px solid rgba(0,0,0,0.3);
    border-radius:15px;
}
.tweet-interact-more{
    position:absolute!important;
    right:-25px;
    border:1px solid rgba(0,0,0,0.3);
    border-radius:15px;
    padding:5px 5px 5px 14px;
}

.tweet-interact-more-menu.dropdown-menu{
    right:50px;
    bottom:0;
}

.tweet-interact-retweet{justify-self:center;}
.tweet-interact-favorite{justify-self:end;}

/*
alternate background opacity of tweets for readability/add padding
*/
#timeline>div:nth-of-type(odd){
    background-color:#1a2633;
}
#timeline>div{
        padding:20px 20px;
}
#timeline>div:nth-of-type(odd):hover{
    background-color:#16212e;
}


/*
make media responsive
flexbox was being a pain in the arse so fall back to a grid
makes alternating aspect ratios look worse but doesn't break all the time
*/
.tweet-media{
    max-height:var(--max-image-size);
    max-width:100%;
    width:100%;
    margin:0 auto;
    display:inline-grid;
    gap:10px;
    grid-template-rows: auto;
    justify-items:stretch;
    padding-bottom:5px;
}
.tweet-media>img{
    display:block;
    border:none;
    object-fit:contain;
    border-radius:0px;
    width:100%;
    height:100%;
    max-height:100%;
    max-width:100%;
}

/*
specific overrides for multiple media on each
element-two is used for four, but four also has a br element
however these must cascade because content warnings include br as well
this breaks if it's a post with two images which has the sensitive flag
but :not(:has()) doesn't seem to work
*/
.tweet-media:has(.tweet-media-element-one){
    grid-template-columns:100%!important;
    grid-template-rows:100%!important;
}
.tweet-media:has(.tweet-media-element-two)
{
    grid-template-columns: 50% 50%;
    grid-template-rows: minmax(100px, calc(var(--max-image-size) / 2));
}
.tweet-media:has(br),
.tweet-media:has(.tweet-media-element-three){
    max-height:calc(var(--max-image-size) * var(--multipost-scaling))!important;
    grid-template-columns: 50% 50%!important;
    grid-template-rows: minmax(100px,50%) minmax(100px, 50%)!important;
}


/*
makes the last post of a triple post centered
*/
.tweet-media-element-three:last-of-type{
    grid-area:2/1/3/3;
}

/*
fix tl button
*/
.tweet-translate-after{
    font-size:14px;
    visibility:visible;
}

/*
fix some hardcoded sizes (why aren't these responsive?)
*/
.tweet-media-quote,.tweet-card-link{
    width:100%!important;
    max-width:calc(100% - 20px);
}
.tweet-viewer{top:10px}